body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 60px;
  background-color: #f6f6f6;
  padding: 0;
  overflow-y: scroll;
}

* {
  font-family: 'Noto Sans TC';
}

p {
  margin: 0;
}

/* Scroll Bar */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ae0023;
}

.navBar {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 64px 0 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.navBar__logo {
  height: 28px;
}

.navBar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__item {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 150%;
  margin-left: 40px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.navBar__hamburger {
  height: 24px;
}

.navBar__dropdown {
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  top: 60px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}

.navBar__dropdown .dropdown__item {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 150%;
  padding: 12px 32px 12px 32px;
  width: 94px;
  text-align: right;
  cursor: pointer;
}

@media screen and (max-width: 810px) {
  .navBar__hamburger {
    display: block;
  }
  .navBar__word {
    display: none;
  }
}

.navBar a {
  color: inherit;
  text-decoration: inherit;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #38323c;
  color: #e8e4da;
  width: 100%;
  padding: 32px 24px 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__hashtag {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: #e8e4da;
}

.footer .linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  margin-top: 16px;
  width: 600px;
  color: #e8e4da;
}

.footer .linkList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer .linkList__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.footer .linkList__word {
  font-size: 14px;
  line-height: 150%;
  color: #e8e4da;
  text-decoration: none;
  margin: 0;
}

.footer .caption {
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 648px) {
  .footer .linkList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 12px;
  }
  .footer .linkList__item {
    margin-bottom: 8px;
  }
}

.header {
  width: 100%;
  height: 290px;
  background-color: #38323c;
  padding: 0 128px 44px 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__content .content__title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .header__content .content__title {
    font-size: 30px;
  }
}

.header__content .content__word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: normal;
  color: #ffffff;
}

.header__stamp--rounds {
  position: absolute;
  opacity: 0.3;
  left: -200px;
  top: -240px;
  width: 520px;
}

.header__logo {
  height: 32px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 32px 32px 32px;
  }
  .header__logo {
    display: none;
  }
  .header__content .content__word {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #1e1e1e;
    color: #ffffff;
  }
}

@media screen and (max-width: 412px) {
  .header {
    padding: 0 24px 32px 24px;
  }
}

.activity {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 160px 128px 80px 128px;
  position: relative;
  overflow: hidden;
}

.activity__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.activity__content .pr {
  padding-right: 24px;
}

.activity__content .pl {
  padding-left: 24px;
}

.activity__content--word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.activity__content--word .content__title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .activity__content--word .content__title {
    font-size: 30px;
  }
}

.activity__content--word .content__paragraph {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

.activity__content--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.activity__content--img img {
  width: 100%;
}

.activity .bgImg {
  z-index: -1;
  position: absolute;
}

.activity .bgImg--1 {
  left: 48px;
  top: 160px;
  -webkit-transform: scale(2) rotate(15deg);
          transform: scale(2) rotate(15deg);
}

.activity .bgImg--2 {
  right: -300px;
  bottom: -460px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 768px) {
  .activity {
    padding: 128px 48px 80px 48px;
  }
  .activity__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .activity__content .pr {
    padding-right: 0px;
  }
  .activity__content .pl {
    padding-left: 0px;
  }
  .activity__content--img {
    margin-bottom: 48px;
  }
  .activity__content--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .activity .bgImg--1 {
    left: 0px;
    top: 120px;
    -webkit-transform: scale(1.8) rotate(15deg);
            transform: scale(1.8) rotate(15deg);
  }
  .activity .bgImg--2 {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 414px) {
  .activity .bgImg--1 {
    -webkit-transform: scale(1.5) rotate(15deg);
            transform: scale(1.5) rotate(15deg);
  }
  .activity .bgImg--2 {
    right: -360px;
    bottom: -460px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.junior {
  background-color: #f6f6f6;
  z-index: 0;
}

.junior .courseStructure {
  width: 100%;
  padding: 128px 128px 64px 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .courseStructure__intro {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .courseStructure__intro--content {
  margin-right: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .courseStructure__intro--content .sectionTitle {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .courseStructure__intro--content .sectionTitle--lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.junior .courseStructure__intro--content .sectionTitle--md {
  display: none;
}

.junior .courseStructure__intro--content .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .junior .courseStructure__intro--content .sectionTitle .title--word {
    font-size: 30px;
  }
}

.junior .courseStructure__intro--content .sectionTitle .whiteWord {
  color: #ffffff;
}

.junior .courseStructure__intro--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

.junior .courseStructure__intro--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.junior .courseStructure__intro--img .courseStructureImg {
  width: 100%;
}

.junior .courseStructure__infos {
  height: 120px;
  width: 100%;
  background-color: red;
}

.junior .caseStudy {
  padding: 80px 128px 80px 128px;
  background-color: #e8e4da;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.junior .caseStudy .dotSymbolImg {
  position: absolute;
  right: -10%;
  bottom: -10%;
  z-index: -1;
  opacity: 0.8;
}

.junior .caseStudy .sectionTitle {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .caseStudy .sectionTitle--lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.junior .caseStudy .sectionTitle--md {
  display: none;
}

.junior .caseStudy .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .junior .caseStudy .sectionTitle .title--word {
    font-size: 30px;
  }
}

.junior .caseStudy .sectionTitle .whiteWord {
  color: #ffffff;
}

.junior .caseStudy__hbs {
  margin-bottom: 32px;
}

.junior .caseStudy__hbs, .junior .caseStudy__lean {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .caseStudy__hbs--img, .junior .caseStudy__lean--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.junior .caseStudy__hbs--img .hbsCaseImg, .junior .caseStudy__lean--img .hbsCaseImg {
  width: 100%;
}

.junior .caseStudy__hbs .caseStudy__lean--img, .junior .caseStudy__lean .caseStudy__lean--img {
  margin-left: 48px;
}

.junior .caseStudy__hbs .caseStudy__hbs--content, .junior .caseStudy__lean .caseStudy__hbs--content {
  margin-left: 48px;
}

.junior .caseStudy__hbs--content, .junior .caseStudy__lean--content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.junior .caseStudy__hbs--content h2, .junior .caseStudy__lean--content h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .junior .caseStudy__hbs--content h2, .junior .caseStudy__lean--content h2 {
    font-size: 30px;
  }
}

.junior .caseStudy__hbs--content p, .junior .caseStudy__lean--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

.junior .project {
  padding: 80px 128px 80px 128px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.junior .project .connectionSymbol-1 {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 10%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.junior .project .connectionSymbol-2 {
  position: absolute;
  z-index: -1;
  right: 10%;
  bottom: 0;
  -webkit-transform: scale(-1.4, -1.4);
          transform: scale(-1.4, -1.4);
}

.junior .project .sectionTitle {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .project .sectionTitle--lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.junior .project .sectionTitle--md {
  display: none;
}

.junior .project .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .junior .project .sectionTitle .title--word {
    font-size: 30px;
  }
}

.junior .project .sectionTitle .whiteWord {
  color: #ffffff;
}

.junior .project__jp--title, .junior .project__lc--title {
  margin-bottom: 48px;
}

.junior .project__jp--title h2, .junior .project__lc--title h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .junior .project__jp--title h2, .junior .project__lc--title h2 {
    font-size: 30px;
  }
}

.junior .project__jp--title p, .junior .project__lc--title p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  width: 80%;
}

.junior .project__jp--content, .junior .project__lc--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.junior .project__jp--content .content--img, .junior .project__lc--content .content--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.junior .project__jp--content .content--img img, .junior .project__lc--content .content--img img {
  width: 100%;
}

.junior .project__jp--content .content--feature, .junior .project__lc--content .content--feature {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 48px;
}

.junior .project__jp--content .content--feature .feature__item, .junior .project__lc--content .content--feature .feature__item {
  margin-bottom: 32px;
}

.junior .project__jp--content .content--feature .feature__item h3, .junior .project__lc--content .content--feature .feature__item h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .junior .courseStructure {
    padding: 128px 64px 64px 64px;
  }
  .junior .courseStructure__intro--content .sectionTitle--lg {
    display: none;
  }
  .junior .courseStructure__intro--content .sectionTitle--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .junior .caseStudy {
    padding: 128px 64px 64px 64px;
  }
  .junior .project {
    padding: 128px 64px 64px 64px;
  }
  .junior .project__jp--title p, .junior .project__lc--title p {
    width: 100%;
  }
  .junior .project__jp--content, .junior .project__lc--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .junior .project__jp--content .content--feature, .junior .project__lc--content .content--feature {
    margin-left: 0;
  }
  .junior .project__jp--content .content--img, .junior .project__lc--content .content--img {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 900px) {
  .junior .caseStudy .dotSymbolImg {
    position: absolute;
    right: -25%;
    bottom: 40%;
    opacity: 0.8;
    -webkit-transform: scale(0.8) translateY(50%);
            transform: scale(0.8) translateY(50%);
  }
  .junior .caseStudy__hbs, .junior .caseStudy__lean {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .junior .caseStudy__hbs .caseStudy__lean--img, .junior .caseStudy__lean .caseStudy__lean--img {
    margin-left: 0px;
  }
  .junior .caseStudy__hbs .caseStudy__hbs--content, .junior .caseStudy__lean .caseStudy__hbs--content {
    margin-left: 0px;
  }
  .junior .caseStudy__hbs--content, .junior .caseStudy__lean--content {
    margin-bottom: 24px;
  }
  .junior .caseStudy__hbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 56px;
  }
  .junior .courseStructure__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .junior .courseStructure__intro--content {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .junior .courseStructure {
    padding: 128px 32px 64px 32px;
  }
  .junior .courseStructure .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .caseStudy {
    padding: 128px 32px 64px 32px;
  }
  .junior .caseStudy .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .caseStudy .sectionTitle--lg {
    display: none;
  }
  .junior .caseStudy .sectionTitle--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .junior .project {
    padding: 128px 32px 64px 32px;
  }
  .junior .project .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .project .sectionTitle--lg {
    display: none;
  }
  .junior .project .sectionTitle--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .junior .courseStructure {
    padding: 128px 24px 64px 24px;
  }
  .junior .caseStudy {
    padding: 128px 24px 64px 24px;
  }
  .junior .caseStudy .dotSymbolImg {
    right: -50%;
    bottom: 40%;
    -webkit-transform: scale(0.7) translateY(50%);
            transform: scale(0.7) translateY(50%);
  }
  .junior .project {
    padding: 128px 24px 64px 24px;
  }
}

.senior {
  position: relative;
  overflow: hidden;
  background-color: #f6f6f6;
  z-index: 0;
  padding: 120px 128px 120px 128px;
}

.senior .dot_symbol {
  position: absolute;
  z-index: -1;
  right: -240px;
  top: -240px;
}

.senior .dubbleCircle {
  position: absolute;
  z-index: -1;
  bottom: -520px;
  left: -280px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.senior__course, .senior__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.senior__course--content, .senior__project--content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.senior__course--content h2, .senior__project--content h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .senior__course--content h2, .senior__project--content h2 {
    font-size: 30px;
  }
}

.senior__course--content p, .senior__project--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

.senior__course--img, .senior__project--img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.senior__course--img img, .senior__project--img img {
  width: 100%;
}

.senior__course {
  margin-bottom: 160px;
}

.senior__course--content {
  margin-left: 48px;
}

.senior__project--content {
  margin-right: 48px;
}

@media screen and (max-width: 1200px) {
  .senior {
    padding: 120px 64px 120px 64px;
  }
}

@media screen and (max-width: 900px) {
  .senior__course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .senior__course--content {
    margin-left: 0px;
  }
  .senior__project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .senior__project--content {
    margin-right: 0px;
  }
  .senior__course--img, .senior__project--img {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .senior {
    padding: 120px 32px 120px 32px;
  }
}

@media screen and (max-width: 768px) {
  .senior {
    padding: 120px 24px 120px 24px;
  }
}

.alumni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: calc(100vh - 56px);
  background-color: #f6f6f6;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.alumni .dubbleCircle {
  position: absolute;
  z-index: -1;
  right: -400px;
  bottom: -520px;
}

.alumni__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}

.alumni__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 64px 64px 64px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.alumni__content .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: white;
  padding: 8px 16px 8px 16px;
}

.alumni__content .btn-primary:hover,
.alumni__content .btn-primary:focus,
.alumni__content .btn-primary:active,
.alumni__content .btn-primary.active,
.alumni__content .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}

.alumni__content--item {
  margin-bottom: 44px;
  width: 100%;
}

.alumni__content--item h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
}

.alumni__content--item p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

@media screen and (max-width: 1200px) {
  .alumni__content {
    padding: 64px 32px 64px 32px;
  }
}

@media screen and (max-width: 900px) {
  .alumni {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .alumni__img {
    width: 100%;
  }
  .alumni__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 64px 32px 64px 32px;
  }
}

@media screen and (max-width: 600px) {
  .alumni__img {
    min-height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .alumni__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 64px 24px 64px 24px;
  }
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 10;
}

.tab__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px 0px 16px 0px;
}

.tab__item p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
}

.tab__item .sm {
  display: none;
}

.tab__item--default {
  cursor: pointer;
  -webkit-box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.25);
  background-color: #e8e4da;
}

.tab__item--default:hover {
  color: #727784;
}

.tab__item--active {
  z-index: 1;
  -webkit-box-shadow: 8px 0px 12px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 0px 12px -10px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
}

@media screen and (max-width: 600px) {
  .tab {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
  }
  .tab__item {
    padding: 8px 0px 8px 0px;
  }
  .tab__item .lg {
    display: none;
  }
  .tab__item .sm {
    display: block;
  }
}

.about .sectionTitle {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .sectionTitle--lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .sectionTitle--md {
  display: none;
}

.about .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about .sectionTitle .title--word {
    font-size: 30px;
  }
}

.about .sectionTitle .whiteWord {
  color: #ffffff;
}

.about__header {
  height: 560px;
  width: 100%;
  background-image: url("../asset/img/about_headerImg.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about__header .circle4 {
  position: absolute;
  left: -10%;
  top: -40%;
  opacity: 15%;
}

.about__header .connection__left {
  position: absolute;
  -webkit-transform: scaleY(-1) scale(0.7) rotate(15deg);
          transform: scaleY(-1) scale(0.7) rotate(15deg);
  left: -12%;
  bottom: -40%;
  opacity: 0.8;
}

.about__header .connection__right {
  position: absolute;
  -webkit-transform: scaleY(-1) scale(1.5);
          transform: scaleY(-1) scale(1.5);
  opacity: 0.15;
  right: -25%;
  bottom: -15%;
}

.about__header--logo {
  height: 40px;
}

.about__header--title {
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin: 8px 0 8px 0;
}

.about__header--subTitle {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

.about__header--readMore {
  margin-bottom: 120px;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__header--readMore .readMore--word {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin-right: 4px;
}

.about__intro {
  padding: 180px 200px 180px 200px;
  overflow: hidden;
  position: relative;
}

.about__intro .connection__left {
  position: absolute;
  -webkit-transform: scaleY(-1) scale(0.7) rotate(15deg);
          transform: scaleY(-1) scale(0.7) rotate(15deg);
  left: -12%;
  top: -272px;
  z-index: -2;
}

.about__intro .connection__right {
  position: absolute;
  -webkit-transform: scaleY(-1) scale(1.5);
          transform: scaleY(-1) scale(1.5);
  right: -25%;
  top: -412px;
  z-index: -2;
}

.about__intro--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__intro--content .content__word {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__intro--content .content__word--paragraph {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 32px;
  padding-right: 48px;
}

.about__intro--content .content__word--quote {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ae0023;
  padding-right: 48px;
}

.about__intro--content .content__video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__intro--content .content__video iframe {
  width: 500px;
  height: 281px;
  border: 5px white solid;
  max-width: 100%;
}

.about__intro--content .content__video--wrap {
  position: relative;
}

.about__intro--content .content__video--circle1 {
  z-index: -1;
  position: absolute;
  top: -40px;
  left: -40px;
}

.about__intro--content .content__video--circle2 {
  z-index: -1;
  position: absolute;
  bottom: -60px;
  right: -56px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.about__vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 240px 200px 128px 200px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.about__vision .double_circle {
  position: absolute;
  z-index: -1;
  bottom: -55%;
  right: -25%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.about__vision .bgCircle {
  position: absolute;
  left: -30%;
  top: -5%;
  z-index: -1;
  width: 80%;
}

.about__vision--content {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 48px;
}

.about__vision--content .content--title {
  margin-bottom: 40px;
  padding-right: 56px;
}

.about__vision--content .content--word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  padding-right: 56px;
}

.about__vision--iconList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.about__vision--iconList .iconList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.about__vision--iconList .iconList__item--icon {
  width: 72px;
  margin-right: 20px;
  margin-left: 48px;
}

.about__vision--iconList .iconList__item--content .content--title {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #1e1e1e;
  margin-bottom: 4px;
}

.about__vision--iconList .iconList__item--content .content--word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}

.about__achieve {
  background-color: #38323c;
  padding: 80px 200px 80px 200px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__achieve .people_symbol {
  position: absolute;
  bottom: -100px;
  min-width: 1200px;
  width: 100%;
}

.about__achieve--content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  color: #ffffff;
  margin-bottom: 60px;
  max-width: 590px;
  text-align: center;
}

.about__achieve--numberList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.about__achieve--numberList .numberList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}

.about__achieve--numberList .numberList__item--title {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  margin-bottom: 8px;
}

.about__achieve--numberList .numberList__item--content {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.about .marquee {
  padding: 48px 0px 48px 0px;
}

.about .marquee__item {
  margin-right: 80px;
}

.about__briefIntro {
  position: relative;
  overflow: hidden;
}

.about__briefIntro .briefIntro__course, .about__briefIntro .briefIntro__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 96px 80px 96px 80px;
}

.about__briefIntro .briefIntro__course--word .btn-primary, .about__briefIntro .briefIntro__people--word .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: white;
  padding: 8px 16px 8px 16px;
}

.about__briefIntro .briefIntro__course--word .btn-primary:hover,
.about__briefIntro .briefIntro__course--word .btn-primary:focus,
.about__briefIntro .briefIntro__course--word .btn-primary:active,
.about__briefIntro .briefIntro__course--word .btn-primary.active,
.about__briefIntro .briefIntro__course--word .open > .dropdown-toggle.btn-primary, .about__briefIntro .briefIntro__people--word .btn-primary:hover,
.about__briefIntro .briefIntro__people--word .btn-primary:focus,
.about__briefIntro .briefIntro__people--word .btn-primary:active,
.about__briefIntro .briefIntro__people--word .btn-primary.active,
.about__briefIntro .briefIntro__people--word .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}

.about__briefIntro .briefIntro__course--word .word--title, .about__briefIntro .briefIntro__people--word .word--title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .about__briefIntro .briefIntro__course--word .word--title, .about__briefIntro .briefIntro__people--word .word--title {
    font-size: 30px;
  }
}

.about__briefIntro .briefIntro__course--word .word--content, .about__briefIntro .briefIntro__people--word .word--content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 32px;
}

.about__briefIntro .briefIntro__course--img, .about__briefIntro .briefIntro__people--img {
  width: 50%;
  background-position: center center;
  background-size: cover;
}

.about__briefIntro .double_circle {
  position: absolute;
  z-index: -1;
  right: -150px;
  bottom: -250px;
  width: 500px;
  opacity: 0.5;
}

.about__briefIntro .connection_symbol {
  position: absolute;
  z-index: -1;
  width: 1400px;
  left: -40%;
  top: -35%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0.5;
}

@media screen and (max-width: 1366px) {
  .about__vision--content .bgCircle {
    left: -90%;
    top: -125%;
  }
}

@media screen and (max-width: 1200px) {
  .about__intro {
    padding: 128px 128px 128px 128px;
  }
  .about__vision {
    padding: 240px 128px 128px 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__vision--content .content--title {
    margin-bottom: 40px;
    padding-right: 0px;
  }
  .about__vision--content .content--word {
    padding-right: 0px;
  }
  .about__vision--iconList .iconList__item--icon {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .about__intro {
    padding: 128px 48px 128px 48px;
  }
  .about__achieve {
    padding: 80px 120px 80px 120px;
  }
  .about__achieve .sectionTitle--lg {
    display: none;
  }
  .about__achieve .sectionTitle--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__vision {
    padding: 240px 48px 128px 48px;
  }
  .about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
    padding: 48px 48px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .about__intro .sectionTitle--lg {
    display: none;
  }
  .about__intro .sectionTitle--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__intro--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__intro--content .content__word--paragraph {
    padding-right: 0;
  }
  .about__intro--content .content__word--quote {
    margin-bottom: 80px;
    padding-right: 0;
  }
  .about__vision {
    padding: 240px 24px 128px 24px;
  }
  .about__achieve {
    padding: 80px 64px 80px 64px;
  }
  .about__briefIntro .briefIntro__course, .about__briefIntro .briefIntro__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
    width: 100%;
    padding: 48px 24px 96px 24px;
  }
  .about__briefIntro .briefIntro__course--img, .about__briefIntro .briefIntro__people--img {
    width: 100%;
    height: 400px;
  }
  .about__briefIntro .briefIntro__course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .about__achieve {
    padding: 80px 48px 80px 48px;
  }
  .about__achieve--numberList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__achieve--numberList .numberList__item {
    margin: 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 414px) {
  .about__achieve {
    padding: 80px 24px 80px 24px;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 300px 120px 300px;
  background-color: #f6f6f6;
}

.article__detail {
  padding: 40px 48px 32px 48px;
  position: fixed;
  z-index: 21;
  width: 50%;
  height: 80%;
  min-width: 500px;
  background-color: #f6f6f6;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  -webkit-filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.article__detail .doubleCircleSymbol {
  position: absolute;
  left: -50%;
  bottom: -90%;
  z-index: -1;
  -webkit-transform: scale(-0.5, 0.5);
          transform: scale(-0.5, 0.5);
}

.article__detail--titleGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.article__detail--titleGroup .titleGroup__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.article__detail--titleGroup .titleGroup__img img {
  width: 32px;
  margin-right: 16px;
}

.article__detail--titleGroup .titleGroup__img--subTitle {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
}

.article__detail--titleGroup .titleGroup__word--title {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
}

.article__detail--content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  overflow-y: scroll;
  white-space: pre-wrap;
  height: 100%;
}

.article__popupLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.article__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  width: 100%;
  border-radius: 8px;
  z-index: 0;
}

.article__item--img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.article__item--img img {
  width: 170px;
}

.article__item--content {
  margin-left: 20px;
  width: 100%;
}

.article__item--content .name {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 4px;
}

.article__item--content .title {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.article__item--content .content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: pre-wrap;
}

.article__item--content .tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__item--content .tags .tag {
  font-size: 14px;
  line-height: 150%;
  padding: 4px 16px 2px 16px;
  border-radius: 16px;
  background-color: #ae0023;
  color: white;
  margin-left: 12px;
}

.article__item:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #e7e7e7;
}

@media screen and (max-width: 1366px) {
  .article {
    padding: 120px 120px 120px 120px;
  }
}

@media screen and (max-width: 900px) {
  .article {
    padding: 120px 64px 120px 64px;
  }
}

@media screen and (max-width: 768px) {
  .article {
    padding: 120px 32px 120px 32px;
  }
  .article__item--img img {
    width: 100px;
  }
  .article__item--content .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
  }
  .article__item--content .title {
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #1e1e1e;
    margin-bottom: 8px;
  }
  .article__item--content .content {
    display: none;
    -webkit-line-clamp: 1;
    font-size: 14px;
    line-height: 150%;
  }
  .article__item--content .tags .tag {
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .article {
    padding: 120px 24px 120px 24px;
  }
}
/*# sourceMappingURL=style.css.map */