body {
  margin: 0;
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #f6f6f6;
  padding: 0;
  overflow-y: scroll;
}

* {
  font-family: "Noto Sans TC";
}

p {
  margin: 0;
}

/* Scroll Bar */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ae0023;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 64px 0 64px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}
.navBar__logo {
  height: 28px;
}
.navBar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navBar__item {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 150%;
  margin-left: 40px;
  cursor: pointer;
}
.navBar__item :hover {
  transition-duration: 0.2s;
  color: #ae0023;
}
.navBar__hamburger {
  height: 24px;
}
.navBar__dropdown {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  top: 60px;
  display: none;
  width: 160px;
  z-index: 100;
}
.navBar__dropdown .dropdown__item {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 150%;
  padding: 16px 32px 16px 20px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navBar {
    padding: 0 32px 0 32px;
  }
}
.navBar a {
  color: inherit;
  text-decoration: inherit;
}

.navBarTransparent {
  background-color: transparent;
  box-shadow: none;
}

.navBarPOF {
  position: fixed;
}

.navHamburgerWhite .navBar__hamburger {
  filter: invert(100%) sepia(1%) saturate(565%) hue-rotate(237deg) brightness(111%) contrast(101%);
}

.navBarS {
  display: none;
}
@media screen and (max-width: 820px) {
  .navBarS {
    display: flex;
  }
}

@media screen and (max-width: 820px) {
  .navBarL {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #38323c;
  color: #e8e4da;
  width: 100%;
  padding: 32px 24px 20px 24px;
  box-sizing: border-box;
}
.footer__hashtag {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: #e8e4da;
}
.footer .linkList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 16px;
  width: 600px;
  color: #e8e4da;
}
.footer .linkList__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer .linkList__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.footer .linkList__word {
  font-size: 14px;
  line-height: 150%;
  color: #e8e4da;
  text-decoration: none;
  margin: 0;
}
.footer .caption {
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 648px) {
  .footer .linkList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 12px;
  }
  .footer .linkList__item {
    margin-bottom: 8px;
  }
}

.header {
  width: 100%;
  height: 290px;
  background-color: #38323c;
  padding: 0 128px 44px 128px;
  box-sizing: border-box;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__content .content__title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .header__content .content__title {
    font-size: 30px;
  }
}
.header__content .content__word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: normal;
  color: #ffffff;
}
.header__stamp--rounds {
  position: absolute;
  opacity: 0.3;
  left: -200px;
  top: -240px;
  width: 520px;
}
.header__logo {
  height: 32px;
  margin-left: 40px;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 0 32px 32px 32px;
  }
  .header__stamp--rounds {
    left: -240px;
    top: -240px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }
  .header__content .content__word {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #1e1e1e;
    color: #ffffff;
  }
}
@media screen and (max-width: 414px) {
  .header {
    padding: 0 24px 32px 24px;
  }
  .header__stamp--rounds {
    left: -300px;
    top: -220px;
  }
}

.activity {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 160px 128px 80px 128px;
  position: relative;
  overflow: hidden;
}
.activity__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.activity__content .pr {
  padding-right: 24px;
}
.activity__content .pl {
  padding-left: 24px;
}
.activity__content--word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.activity__content--word .content__title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .activity__content--word .content__title {
    font-size: 30px;
  }
}
.activity__content--word .content__paragraph {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.activity__content--img {
  flex: 1;
}
.activity__content--img img {
  width: 100%;
}
.activity .bgImg {
  z-index: -1;
  position: absolute;
}
.activity .bgImg--1 {
  left: 48px;
  top: 160px;
  transform: scale(2) rotate(15deg);
}
.activity .bgImg--2 {
  right: -300px;
  bottom: -460px;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .activity {
    padding: 128px 48px 80px 48px;
  }
  .activity__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .activity__content .pr {
    padding-right: 0px;
  }
  .activity__content .pl {
    padding-left: 0px;
  }
  .activity__content--img {
    margin-bottom: 48px;
  }
  .activity__content--reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .activity .bgImg--1 {
    left: 0px;
    top: 120px;
    transform: scale(1.8) rotate(15deg);
  }
  .activity .bgImg--2 {
    transform: scale(1);
  }
}
@media screen and (max-width: 414px) {
  .activity .bgImg--1 {
    transform: scale(1.5) rotate(15deg);
  }
  .activity .bgImg--2 {
    right: -360px;
    bottom: -460px;
    transform: scale(0.6);
  }
}

.junior {
  background-color: #f6f6f6;
  z-index: 0;
}
.junior .courseStructure {
  width: 100%;
  padding: 128px 128px 128px 128px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.junior .courseStructure .dubbleCircle {
  position: absolute;
  z-index: 0;
  right: -10%;
  bottom: -30%;
  opacity: 0.8;
}
.junior .courseStructure .circle4 {
  position: absolute;
  z-index: 0;
  left: -64px;
  top: -120px;
  transform: scale(1.2);
  opacity: 0.8;
}
.junior .courseStructure__intro {
  margin-bottom: 120px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .courseStructure__intro--content {
  margin-right: 64px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.junior .courseStructure__intro--content .sectionTitle {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .courseStructure__intro--content .sectionTitle--lg {
  display: flex;
}
.junior .courseStructure__intro--content .sectionTitle--md {
  display: none;
}
.junior .courseStructure__intro--content .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .junior .courseStructure__intro--content .sectionTitle .title--word {
    font-size: 30px;
  }
}
.junior .courseStructure__intro--content .sectionTitle .whiteWord {
  color: #ffffff;
}
.junior .courseStructure__intro--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.junior .courseStructure__intro--img {
  flex: 1;
}
.junior .courseStructure__intro--img .courseStructureImg {
  width: 100%;
}
.junior .courseStructure__infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.junior .courseStructure__infos--container {
  width: 100%;
  margin-bottom: 48px;
}
.junior .courseStructure__infos--container .container__title {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 16px;
}
.junior .courseStructure__infos--container .container__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.junior .courseStructure__infos--container .container__content--words {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-right: 48px;
}
.junior .courseStructure__infos--container .container__content--iconSet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 608px;
}
.junior .courseStructure__infos--container .container__content--iconSet .iconSet__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}
.junior .courseStructure__infos--container .container__content--iconSet .iconSet__items--icon {
  width: 48px;
  margin-bottom: 8px;
}
.junior .courseStructure__infos--container .container__content--iconSet .iconSet__items--title {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
}
.junior .courseStructure__infos .icon_down {
  margin-bottom: 48px;
}
.junior .caseStudy {
  padding: 80px 128px 80px 128px;
  background-color: #e8e4da;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.junior .caseStudy .dotSymbolImg {
  position: absolute;
  right: -10%;
  bottom: -10%;
  z-index: -1;
  opacity: 0.8;
}
.junior .caseStudy .sectionTitle {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .caseStudy .sectionTitle--lg {
  display: flex;
}
.junior .caseStudy .sectionTitle--md {
  display: none;
}
.junior .caseStudy .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .junior .caseStudy .sectionTitle .title--word {
    font-size: 30px;
  }
}
.junior .caseStudy .sectionTitle .whiteWord {
  color: #ffffff;
}
.junior .caseStudy__hbs {
  margin-bottom: 32px;
}
.junior .caseStudy__hbs, .junior .caseStudy__lean {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .caseStudy__hbs--img, .junior .caseStudy__lean--img {
  flex: 1;
}
.junior .caseStudy__hbs--img .hbsCaseImg, .junior .caseStudy__lean--img .hbsCaseImg {
  width: 100%;
}
.junior .caseStudy__hbs .caseStudy__lean--img, .junior .caseStudy__lean .caseStudy__lean--img {
  margin-left: 48px;
}
.junior .caseStudy__hbs .caseStudy__hbs--content, .junior .caseStudy__lean .caseStudy__hbs--content {
  margin-left: 48px;
}
.junior .caseStudy__hbs--content, .junior .caseStudy__lean--content {
  flex: 1;
}
.junior .caseStudy__hbs--content h2, .junior .caseStudy__lean--content h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .junior .caseStudy__hbs--content h2, .junior .caseStudy__lean--content h2 {
    font-size: 30px;
  }
}
.junior .caseStudy__hbs--content p, .junior .caseStudy__lean--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.junior .project {
  padding: 80px 128px 80px 128px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.junior .project .connectionSymbol-1 {
  position: absolute;
  z-index: -1;
  left: -5%;
  top: 10%;
  transform: scale(1.6);
  opacity: 0.8;
}
.junior .project .connectionSymbol-2 {
  position: absolute;
  z-index: -1;
  right: 5%;
  bottom: -10%;
  transform: scale(-1.8, -1.8);
  opacity: 0.8;
}
.junior .project .sectionTitle {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .project .sectionTitle--lg {
  display: flex;
}
.junior .project .sectionTitle--md {
  display: none;
}
.junior .project .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .junior .project .sectionTitle .title--word {
    font-size: 30px;
  }
}
.junior .project .sectionTitle .whiteWord {
  color: #ffffff;
}
.junior .project__jp--title, .junior .project__lc--title {
  margin-bottom: 48px;
}
.junior .project__jp--title h2, .junior .project__lc--title h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .junior .project__jp--title h2, .junior .project__lc--title h2 {
    font-size: 30px;
  }
}
.junior .project__jp--title p, .junior .project__lc--title p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  width: 80%;
}
.junior .project__jp--content, .junior .project__lc--content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.junior .project__jp--content .content--img, .junior .project__lc--content .content--img {
  flex: 1;
}
.junior .project__jp--content .content--img img, .junior .project__lc--content .content--img img {
  width: 100%;
}
.junior .project__jp--content .content--feature, .junior .project__lc--content .content--feature {
  flex: 1;
  margin-left: 48px;
}
.junior .project__jp--content .content--feature .feature__item, .junior .project__lc--content .content--feature .feature__item {
  margin-bottom: 32px;
}
.junior .project__jp--content .content--feature .feature__item h3, .junior .project__lc--content .content--feature .feature__item h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  .junior .courseStructure {
    padding: 128px 64px 64px 64px;
  }
  .junior .courseStructure__intro--content .sectionTitle--lg {
    display: none;
  }
  .junior .courseStructure__intro--content .sectionTitle--md {
    display: flex;
  }
  .junior .courseStructure .circle4 {
    left: -120px;
    top: -120px;
    transform: scale(1.1);
  }
  .junior .caseStudy {
    padding: 128px 64px 64px 64px;
  }
  .junior .project {
    padding: 128px 64px 64px 64px;
  }
  .junior .project__jp--title p, .junior .project__lc--title p {
    width: 100%;
  }
  .junior .project__jp--content, .junior .project__lc--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .junior .project__jp--content .content--feature, .junior .project__lc--content .content--feature {
    margin-left: 0;
  }
  .junior .project__jp--content .content--img, .junior .project__lc--content .content--img {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 900px) {
  .junior .caseStudy .dotSymbolImg {
    position: absolute;
    right: -25%;
    bottom: 40%;
    opacity: 0.8;
    transform: scale(0.8) translateY(50%);
  }
  .junior .caseStudy__hbs, .junior .caseStudy__lean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .junior .caseStudy__hbs .caseStudy__lean--img, .junior .caseStudy__lean .caseStudy__lean--img {
    margin-left: 0px;
  }
  .junior .caseStudy__hbs .caseStudy__hbs--content, .junior .caseStudy__lean .caseStudy__hbs--content {
    margin-left: 0px;
  }
  .junior .caseStudy__hbs--content, .junior .caseStudy__lean--content {
    margin-bottom: 24px;
  }
  .junior .caseStudy__hbs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
  }
  .junior .courseStructure__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .junior .courseStructure__intro--content {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .junior .courseStructure__infos--container .container__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .junior .courseStructure__infos--container .container__content--words {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #1e1e1e;
    margin: 0px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .junior .courseStructure {
    padding: 128px 32px 64px 32px;
  }
  .junior .courseStructure .circle4 {
    left: -180px;
    top: -120px;
  }
  .junior .courseStructure .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .courseStructure__infos--container .container__content--iconSet {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 140px 140px;
    grid-gap: 16px 24px;
    align-content: center;
    justify-content: center;
    min-width: 0px;
  }
  .junior .caseStudy {
    padding: 128px 32px 64px 32px;
  }
  .junior .caseStudy .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .caseStudy .sectionTitle--lg {
    display: none;
  }
  .junior .caseStudy .sectionTitle--md {
    display: flex;
  }
  .junior .project {
    padding: 128px 32px 64px 32px;
  }
  .junior .project .sectionTitle {
    margin-bottom: 64px;
  }
  .junior .project .sectionTitle--lg {
    display: none;
  }
  .junior .project .sectionTitle--md {
    display: flex;
  }
}
@media screen and (max-width: 414px) {
  .junior .courseStructure {
    padding: 128px 24px 64px 24px;
  }
  .junior .courseStructure .circle4 {
    left: -280px;
    top: -160px;
  }
  .junior .caseStudy {
    padding: 128px 24px 64px 24px;
  }
  .junior .caseStudy .dotSymbolImg {
    right: -50%;
    bottom: 40%;
    transform: scale(0.7) translateY(50%);
  }
  .junior .project {
    padding: 128px 24px 64px 24px;
  }
}

.senior {
  position: relative;
  overflow: hidden;
  background-color: #f6f6f6;
  z-index: 0;
  padding: 120px 128px 120px 128px;
}
.senior .dot_symbol {
  position: absolute;
  z-index: -1;
  right: -240px;
  top: -240px;
}
.senior .dubbleCircle {
  position: absolute;
  z-index: -1;
  bottom: -520px;
  left: -280px;
  transform: scaleX(-1);
}
.senior__course, .senior__project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.senior__course--content, .senior__project--content {
  flex: 1;
}
.senior__course--content h2, .senior__project--content h2 {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .senior__course--content h2, .senior__project--content h2 {
    font-size: 30px;
  }
}
.senior__course--content p, .senior__project--content p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.senior__course--img, .senior__project--img {
  flex: 1;
}
.senior__course--img img, .senior__project--img img {
  width: 100%;
}
.senior__course {
  margin-bottom: 160px;
}
.senior__course--content {
  margin-left: 48px;
}
.senior__project--content {
  margin-right: 48px;
}
@media screen and (max-width: 1200px) {
  .senior {
    padding: 120px 64px 120px 64px;
  }
}
@media screen and (max-width: 900px) {
  .senior__course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .senior__course--content {
    margin-left: 0px;
  }
  .senior__project {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .senior__project--content {
    margin-right: 0px;
  }
  .senior__course--img, .senior__project--img {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 768px) {
  .senior {
    padding: 120px 24px 120px 24px;
  }
  .senior .dot_symbol {
    right: -360px;
    top: -300px;
    transform: scale(0.9);
  }
  .senior .dubbleCircle {
    bottom: -600px;
    left: -360px;
  }
}

.alumni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  min-height: calc(100vh - 56px);
  background-color: #f6f6f6;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.alumni .dubbleCircle {
  position: absolute;
  z-index: -1;
  right: -400px;
  bottom: -520px;
}
.alumni__img {
  flex: 1;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}
.alumni__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 64px 64px 64px 64px;
  flex: 1;
}
.alumni__content .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: white;
  padding: 8px 16px 8px 16px;
}
.alumni__content .btn-primary:hover,
.alumni__content .btn-primary:focus,
.alumni__content .btn-primary:active,
.alumni__content .btn-primary.active,
.alumni__content .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}
.alumni__content--item {
  margin-bottom: 44px;
  width: 100%;
}
.alumni__content--item h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
}
.alumni__content--item p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
@media screen and (max-width: 1200px) {
  .alumni__content {
    padding: 64px 32px 64px 32px;
  }
}
@media screen and (max-width: 900px) {
  .alumni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alumni__img {
    width: 100%;
  }
  .alumni__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 64px 32px 64px 32px;
  }
}
@media screen and (max-width: 600px) {
  .alumni__img {
    min-height: 300px;
  }
}
@media screen and (max-width: 414px) {
  .alumni__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 64px 24px 64px 24px;
  }
  .alumni__img {
    min-height: 280px;
  }
  .alumni .dubbleCircle {
    right: -400px;
    bottom: -520px;
    transform: scale(0.8);
  }
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 59px;
  z-index: 10;
}
.tab__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  flex: 1;
  padding: 16px 0px 16px 0px;
}
.tab__item p {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
}
.tab__item .sm {
  display: none;
}
.tab__item--default {
  cursor: pointer;
  box-shadow: inset 0px -8px 12px -10px rgba(0, 0, 0, 0.25);
  background-color: #e8e4da;
}
.tab__item--default:hover {
  color: #727784;
}
.tab__item--active {
  z-index: 1;
  box-shadow: 8px 0px 12px -10px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
}
@media screen and (max-width: 600px) {
  .tab {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
  }
  .tab__item {
    padding: 8px 0px 8px 0px;
  }
  .tab__item .lg {
    display: none;
  }
  .tab__item .sm {
    display: block;
  }
}

.about .sectionTitle {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about .sectionTitle--lg {
  display: flex;
}
.about .sectionTitle--md {
  display: none;
}
.about .sectionTitle .title--word {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin: 0 16px 0 16px;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about .sectionTitle .title--word {
    font-size: 30px;
  }
}
.about .sectionTitle .whiteWord {
  color: #ffffff;
}
.about__header {
  height: 560px;
  height: 100vh;
  width: 100%;
  background-image: url("../asset/img/about_headerImg.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 120px;
}
.about__header .circle4 {
  position: absolute;
  left: -200px;
  top: -200px;
  opacity: 15%;
  -webkit-animation: fading 3s ease-in-out infinite;
          animation: fading 3s ease-in-out infinite;
}
@-webkit-keyframes fading {
  0% {
    opacity: 15%;
  }
  50% {
    opacity: 5%;
  }
  100% {
    opacity: 15%;
  }
}
@keyframes fading {
  0% {
    opacity: 15%;
  }
  50% {
    opacity: 5%;
  }
  100% {
    opacity: 15%;
  }
}
.about__header .connection__left {
  position: absolute;
  transform: scaleY(-1) scale(0.7) rotate(15deg);
  left: -180px;
  bottom: -223px;
  opacity: 0.8;
}
.about__header .connection__right {
  position: absolute;
  transform: scaleY(-1) scale(1.5);
  opacity: 15%;
  right: -380px;
  bottom: -80px;
  -webkit-animation: fading 2s ease-in-out 1s infinite;
          animation: fading 2s ease-in-out 1s infinite;
}
@keyframes fading {
  0% {
    opacity: 15%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 15%;
  }
}
.about__header--logo {
  height: 40px;
}
.about__header--title {
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  margin: 8px 0 8px 0;
}
.about__header--subTitle {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}
.about__header--readMore {
  margin-bottom: 120px;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__header--readMore .readMore--word {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin-right: 4px;
}
.about__header--readMore .readMore--icon {
  -webkit-animation: pointDownBounce 1s ease infinite;
          animation: pointDownBounce 1s ease infinite;
  cursor: pointer;
}
@-webkit-keyframes pointDownBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
@keyframes pointDownBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
.about__intro {
  z-index: 1;
  padding: 180px 200px 180px 200px;
  overflow: hidden;
  position: relative;
}
.about__intro .connection__left {
  position: absolute;
  transform: scaleY(-1) scale(0.7) rotate(15deg);
  left: -180px;
  top: -268.5px;
  z-index: -2;
}
.about__intro .connection__right {
  position: absolute;
  transform: scaleY(-1) scale(1.5);
  right: -380px;
  top: -412px;
  z-index: -2;
}
.about__intro--content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__intro--content .content__word {
  flex: 1;
}
.about__intro--content .content__word--paragraph {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 32px;
  padding-right: 48px;
}
.about__intro--content .content__word--quote {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ae0023;
  padding-right: 48px;
}
.about__intro--content .content__video {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__intro--content .content__video iframe {
  width: 500px;
  height: 281px;
  border: 5px white solid;
  max-width: 100%;
}
.about__intro--content .content__video--wrap {
  position: relative;
}
.about__intro--content .content__video--circle1 {
  z-index: -1;
  position: absolute;
  top: -40px;
  left: -40px;
}
.about__intro--content .content__video--circle2 {
  z-index: -1;
  position: absolute;
  bottom: -60px;
  right: -56px;
  transform: scale(0.7);
}
.about__vision {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 200px 200px 128px 200px;
  position: relative;
  overflow: visible;
}
.about__vision .bgCircle {
  position: absolute;
  left: -30%;
  top: -10%;
  z-index: -1;
  width: 80%;
  opacity: 0.8;
}
.about__vision--content {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
  margin-bottom: 108px;
}
.about__vision--content .content--title {
  margin-bottom: 40px;
  padding-right: 56px;
}
.about__vision--content .content--word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  padding-right: 56px;
}
.about__vision--iconList {
  flex: 1;
  width: 100%;
}
.about__vision--iconList .iconList__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}
.about__vision--iconList .iconList__item--icon {
  width: 72px;
  margin-right: 20px;
  margin-left: 48px;
}
.about__vision--iconList .iconList__item--content .content--title {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #1e1e1e;
  margin-bottom: 4px;
}
.about__vision--iconList .iconList__item--content .content--word {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.about__achieve {
  z-index: 3;
  background-color: #38323c;
  padding: 80px 200px 80px 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__achieve .people_symbol {
  position: absolute;
  bottom: -100px;
  min-width: 1200px;
  width: 100%;
}
.about__achieve--content {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 60px;
  max-width: 590px;
  text-align: center;
  font-weight: normal;
}
.about__achieve--numberList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.about__achieve--numberList .numberList__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 48px;
}
.about__achieve--numberList .numberList__item--title {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  margin-bottom: 8px;
}
.about__achieve--numberList .numberList__item--content {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.about .marquee {
  padding: 48px 0px 48px 0px;
}
.about .marquee__item {
  margin-right: 80px;
}
.about__briefIntro {
  position: relative;
  overflow: hidden;
}
.about__briefIntro .briefIntro__course, .about__briefIntro .briefIntro__people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
.about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
  width: 50%;
  box-sizing: border-box;
  padding: 96px 80px 96px 80px;
}
.about__briefIntro .briefIntro__course--word .btn-primary, .about__briefIntro .briefIntro__people--word .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: white;
  padding: 8px 16px 8px 16px;
}
.about__briefIntro .briefIntro__course--word .btn-primary:hover,
.about__briefIntro .briefIntro__course--word .btn-primary:focus,
.about__briefIntro .briefIntro__course--word .btn-primary:active,
.about__briefIntro .briefIntro__course--word .btn-primary.active,
.about__briefIntro .briefIntro__course--word .open > .dropdown-toggle.btn-primary, .about__briefIntro .briefIntro__people--word .btn-primary:hover,
.about__briefIntro .briefIntro__people--word .btn-primary:focus,
.about__briefIntro .briefIntro__people--word .btn-primary:active,
.about__briefIntro .briefIntro__people--word .btn-primary.active,
.about__briefIntro .briefIntro__people--word .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}
.about__briefIntro .briefIntro__course--word .word--title, .about__briefIntro .briefIntro__people--word .word--title {
  font-size: 34px;
  line-height: 120%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .about__briefIntro .briefIntro__course--word .word--title, .about__briefIntro .briefIntro__people--word .word--title {
    font-size: 30px;
  }
}
.about__briefIntro .briefIntro__course--word .word--content, .about__briefIntro .briefIntro__people--word .word--content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 32px;
}
.about__briefIntro .briefIntro__course--img, .about__briefIntro .briefIntro__people--img {
  width: 50%;
  background-position: center center;
  background-size: cover;
}
.about__briefIntro .double_circle {
  position: absolute;
  z-index: -1;
  right: -150px;
  bottom: -250px;
  width: 500px;
  opacity: 0.8;
}
.about__briefIntro .connection_symbol {
  position: absolute;
  z-index: -1;
  width: 1400px;
  left: -40%;
  top: -35%;
  transform: rotate(30deg);
  opacity: 0.5;
}
@media screen and (max-width: 1366px) {
  .about__vision--content .bgCircle {
    left: -90%;
    top: -125%;
  }
}
@media screen and (max-width: 1200px) {
  .about__intro {
    padding: 128px 128px 128px 128px;
  }
  .about__vision {
    padding: 64px 128px 128px 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__vision .bgCircle {
    display: none;
  }
  .about__vision--content {
    width: 100vw;
    padding: 64px 128px 64px 128px;
    background-color: #e8e4da;
  }
  .about__vision--content .content--title {
    margin-bottom: 40px;
    padding-right: 0px;
  }
  .about__vision--content .content--word {
    padding-right: 0px;
  }
  .about__vision--iconList .iconList__item--icon {
    margin-left: 0px;
  }
  .about__header--title {
    font-size: 48px;
    line-height: 150%;
    margin: 0;
  }
  .about__header .connection__left {
    transform: scaleY(-1) scale(0.6) rotate(15deg);
    left: -200px;
    bottom: -223px;
  }
  .about__header .connection__right {
    transform: scaleY(-1) scale(1.2);
    right: -380px;
    bottom: -80px;
  }
  .about__intro .connection__left {
    transform: scaleY(-1) scale(0.6) rotate(15deg);
    left: -200px;
    top: -268.5px;
  }
  .about__intro .connection__right {
    transform: scaleY(-1) scale(1.2);
    right: -380px;
    top: -412px;
  }
}
@media screen and (max-width: 900px) {
  .about__intro {
    padding: 168px 48px 128px 48px;
  }
  .about__achieve {
    padding: 80px 120px 80px 120px;
  }
  .about__achieve .sectionTitle--lg {
    display: none;
  }
  .about__achieve .sectionTitle--md {
    display: flex;
  }
  .about__vision {
    padding: 64px 48px 128px 48px;
  }
  .about__vision--content {
    padding: 64px 52px 64px 52px;
  }
  .about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
    padding: 48px 48px 48px 48px;
  }
  .about__header .circle4 {
    position: absolute;
    left: -240px;
    top: -200px;
    opacity: 15%;
    transform: scale(0.8);
  }
  .about__header .connection__left {
    transform: scaleY(-1) scale(0.6) rotate(15deg);
    left: -200px;
    bottom: -223px;
  }
  .about__header .connection__right {
    transform: scaleY(-1) scale(1.2);
    right: -420px;
    bottom: -80px;
  }
  .about__intro .connection__left {
    transform: scaleY(-1) scale(0.6) rotate(15deg);
    left: -200px;
    top: -268.5px;
  }
  .about__intro .connection__right {
    transform: scaleY(-1) scale(1.2);
    right: -420px;
    top: -412px;
  }
}
@media screen and (max-width: 768px) {
  .about__intro {
    padding: 128px 48px 128px 48px;
  }
  .about__intro .sectionTitle--lg {
    display: none;
  }
  .about__intro .sectionTitle--md {
    display: flex;
  }
  .about__intro--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__intro--content .content__word--paragraph {
    padding-right: 0;
  }
  .about__intro--content .content__word--quote {
    margin-bottom: 160px;
    padding-right: 0;
  }
  .about__vision {
    padding: 64px 24px 128px 24px;
  }
  .about__vision--content {
    padding: 64px 28px 64px 28px;
  }
  .about__vision--iconList .iconList__item {
    margin-bottom: 32px;
  }
  .about__achieve {
    padding: 80px 64px 80px 64px;
  }
  .about__briefIntro .briefIntro__course, .about__briefIntro .briefIntro__people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__briefIntro .briefIntro__course--word, .about__briefIntro .briefIntro__people--word {
    width: 100%;
    padding: 48px 24px 96px 24px;
  }
  .about__briefIntro .briefIntro__course--img, .about__briefIntro .briefIntro__people--img {
    width: 100%;
    height: 400px;
  }
  .about__briefIntro .briefIntro__course {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about__header .connection__left {
    transform: scaleY(-1) scale(0.5) rotate(15deg);
    left: -240px;
    bottom: -223px;
  }
  .about__header .connection__right {
    transform: scaleY(-1) scale(1.1);
    right: -480px;
    bottom: -80px;
  }
  .about__intro .connection__left {
    transform: scaleY(-1) scale(0.5) rotate(15deg);
    left: -240px;
    top: -268.5px;
  }
  .about__intro .connection__right {
    transform: scaleY(-1) scale(1.1);
    right: -480px;
    top: -412px;
  }
}
@media screen and (max-width: 600px) {
  .about__header--title {
    font-size: 40px;
  }
  .about__achieve {
    padding: 80px 48px 80px 48px;
  }
  .about__achieve--numberList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about__achieve--numberList .numberList__item {
    margin: 0;
    margin-bottom: 48px;
  }
  .about__vision .double_circle {
    bottom: -580px;
    right: -360px;
  }
}
@media screen and (max-width: 414px) {
  .about .marquee {
    padding: 32px 0px 32px 0px;
  }
  .about__achieve {
    padding: 80px 24px 80px 24px;
  }
  .about__intro {
    padding: 160px 24px 80px 24px;
  }
  .about__briefIntro .briefIntro__course--img, .about__briefIntro .briefIntro__people--img {
    height: 280px;
  }
  .about__vision--content {
    margin-bottom: 80px;
  }
  .about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding-top: 60px;
  }
  .about__header--title {
    font-size: 34px;
    margin: 32px 0 8px 0;
  }
  .about__header--subTitle {
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    font-weight: bold;
  }
  .about__header .connection__left {
    transform: scaleY(-1) scale(0.8) rotate(15deg);
    left: -380px;
    bottom: -250px;
  }
  .about__header .connection__right {
    transform: scaleY(-1) scale(1.1);
    right: -520px;
    bottom: -80px;
  }
  .about__intro .connection__left {
    transform: scaleY(-1) scale(0.8) rotate(15deg);
    left: -380px;
    top: -241.5px;
  }
  .about__intro .connection__right {
    transform: scaleY(-1) scale(1.1);
    right: -520px;
    top: -412px;
  }
  .about__intro--content .content__video {
    min-width: 380px;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 120px 300px 120px 300px;
  background-color: #f6f6f6;
}
.article__searchSection {
  width: 50%;
  margin-bottom: 40px;
}
.article__searchSection .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bol d;
  color: white;
  padding: 8px 16px 8px 16px;
  white-space: nowrap;
}
.article__searchSection .btn-primary:hover,
.article__searchSection .btn-primary:focus,
.article__searchSection .btn-primary:active,
.article__searchSection .btn-primary.active,
.article__searchSection .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}
.article__searchSection form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.article__searchSection--filter {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.article__searchSection--filter label {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-right: 16px;
  font-weight: normal;
  white-space: nowrap;
}
.article__searchSection--filter .filter__major--selector__control,
.article__searchSection--filter .filter__field--selector__control {
  min-width: 240px;
  width: 267px;
  padding: 2px 6px 2px 6px;
}
.article__searchSection--filter .filter__major--selector__multi-value,
.article__searchSection--filter .filter__field--selector__multi-value {
  background-color: #38323c;
  color: white;
  padding: 1px 4px 1px 6px;
}
.article__searchSection--filter .filter__major--selector__multi-value__label,
.article__searchSection--filter .filter__field--selector__multi-value__label {
  font-size: 14px;
  line-height: 150%;
  color: white;
}
.article__searchSection--filter .filter__major--selector__option:hover,
.article__searchSection--filter .filter__field--selector__option:hover {
  background-color: #38323c;
  color: white;
}
.article__detail {
  padding: 40px 48px 32px 48px;
  position: fixed;
  z-index: 21;
  width: 50%;
  height: 80%;
  min-width: 500px;
  background-color: #f6f6f6;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.article__detail .doubleCircleSymbol {
  position: absolute;
  left: -50%;
  bottom: -90%;
  z-index: -1;
  transform: scale(-0.5, 0.5);
}
.article__detail--titleGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.article__detail--titleGroup .titleGroup__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.article__detail--titleGroup .titleGroup__img img {
  width: 32px;
  margin-right: 16px;
}
.article__detail--titleGroup .titleGroup__img--subTitle {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
}
.article__detail--titleGroup .titleGroup__word--title {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
}
.article__detail--content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  overflow-y: scroll;
  white-space: pre-wrap;
  height: 100%;
}
.article__popupLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.article__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 80px;
  width: 100%;
  z-index: 0;
}
.article__item--img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.article__item--img img {
  width: 170px;
}
.article__item--content {
  margin-left: 20px;
  width: 100%;
}
.article__item--content .name {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 4px;
}
.article__item--content .title {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.article__item--content .content {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: pre-wrap;
}
.article__item--content .tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.article__item--content .tags .tag {
  font-size: 14px;
  line-height: 150%;
  padding: 4px 16px 2px 16px;
  border-radius: 16px;
  background-color: #ae0023;
  color: white;
  margin-left: 12px;
}
.article__item:hover {
  transition-duration: 0.5s;
  background-color: rgb(231, 231, 231);
}
@media screen and (max-width: 1366px) {
  .article {
    padding: 120px 120px 120px 120px;
  }
}
@media screen and (max-width: 900px) {
  .article {
    padding: 120px 64px 120px 64px;
  }
}
@media screen and (max-width: 768px) {
  .article {
    padding: 120px 32px 120px 32px;
  }
  .article__item--img img {
    width: 100px;
  }
  .article__item--content .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
  }
  .article__item--content .title {
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #1e1e1e;
    margin-bottom: 8px;
  }
  .article__item--content .content {
    display: none;
    -webkit-line-clamp: 1;
    font-size: 14px;
    line-height: 150%;
  }
  .article__item--content .tags .tag {
    font-size: 12px;
  }
}
@media screen and (max-width: 414px) {
  .article {
    padding: 120px 24px 120px 24px;
  }
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 96px 120px 96px;
  position: relative;
}
.member__popUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  display: none;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  max-width: 700px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 21;
}
.member__popUp--content {
  min-width: 390px;
  padding: 16px 32px;
}
.member__popUp--content h3 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
}
.member__popUp--content p,
.member__popUp--content li {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
}
.member__popUp--content .content__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0px;
}
.member__popUp--content .content__tags--caption {
  font-size: 12px;
}
.member__popUp--content .content__tags--tag {
  font-size: 12px;
  padding: 4px 8px 2px 8px;
  border-radius: 16px;
  background-color: #ae0023;
  color: white;
  margin-right: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.member__popUp--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
.member__popUp--img img {
  height: 100%;
}
.member__popupLayer {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.member__searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1110px;
  margin-bottom: 48px;
}
.member__searchSection form {
  width: 100%;
}
.member__searchSection .btn-primary {
  background-color: #38323c;
  border: none;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bol d;
  color: white;
  padding: 8px 16px 8px 16px;
  white-space: nowrap;
}
.member__searchSection .btn-primary:hover,
.member__searchSection .btn-primary:focus,
.member__searchSection .btn-primary:active,
.member__searchSection .btn-primary.active,
.member__searchSection .open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #4c5263;
}
.member__searchSection--search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.member__searchSection--search .search--directSearchLabel {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-right: 16px;
  font-weight: normal;
  white-space: nowrap;
}
.member__searchSection--search .search--directSearchInput {
  padding: 8px 16px 6px 16px;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: normal;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-right: 16px;
  width: 100%;
}
.member__searchSection--search .search--directSearchInput:focus {
  outline: 2px solid #4c5263;
}
.member__searchSection--filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-bottom: 16px;
}
.member__searchSection--filter label {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-right: 16px;
  font-weight: normal;
  white-space: nowrap;
}
.member__searchSection--filter .filterContainer {
  width: 100%;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.member__searchSection--filter .filterContainer .filter__major, .member__searchSection--filter .filterContainer .filter__field {
  margin-right: 16px;
}
.member__searchSection--filter .filterContainer .filter__major, .member__searchSection--filter .filterContainer .filter__field, .member__searchSection--filter .filterContainer .filter__grade {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.member__searchSection--filter .filterContainer .filter__major label, .member__searchSection--filter .filterContainer .filter__field label, .member__searchSection--filter .filterContainer .filter__grade label {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
  margin-right: 16px;
  font-weight: normal;
  white-space: nowrap;
}
.member__searchSection--filter .filterContainer .filter__major--selector__control, .member__searchSection--filter .filterContainer .filter__field--selector__control, .member__searchSection--filter .filterContainer .filter__grade--selector__control {
  width: 100%;
  padding: 2px 6px 2px 6px;
}
.member__searchSection--filter .filterContainer .filter__major--selector__multi-value, .member__searchSection--filter .filterContainer .filter__field--selector__multi-value, .member__searchSection--filter .filterContainer .filter__grade--selector__multi-value {
  background-color: #38323c;
  color: white;
  padding: 1px 4px 1px 6px;
}
.member__searchSection--filter .filterContainer .filter__major--selector__multi-value__label, .member__searchSection--filter .filterContainer .filter__field--selector__multi-value__label, .member__searchSection--filter .filterContainer .filter__grade--selector__multi-value__label {
  font-size: 14px;
  line-height: 150%;
  color: white;
}
.member__searchSection--filter .filterContainer .filter__major--selector__option:hover, .member__searchSection--filter .filterContainer .filter__field--selector__option:hover, .member__searchSection--filter .filterContainer .filter__grade--selector__option:hover {
  background-color: #38323c;
  color: white;
}
.member__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 44px 24px;
  max-width: 1110px;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
}
.member__items--item {
  cursor: pointer;
  max-width: 180px;
}
.member__items--item .item__img {
  margin-bottom: 16px;
  position: relative;
}
.member__items--item .item__img--img {
  width: 180px;
}
.member__items--item .item__img .mask {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  color: white;
  transition-duration: 0.3s;
}
.member__items--item .item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.member__items--item .item__content--title {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 8px;
}
.member__items--item .item__content--subTitle {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  color: #1e1e1e;
  text-align: center;
}
.member__items--item:hover .item__img .mask {
  opacity: 1;
}
@media screen and (max-width: 1366px) {
  .member__searchSection--filter {
    width: 100%;
  }
}
@media screen and (max-width: 994px) {
  .member__searchSection--filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .member__searchSection--filter label {
    margin-top: 8px;
  }
  .member__searchSection--filter .filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .member__searchSection--filter .filterContainer .filter__major, .member__searchSection--filter .filterContainer .filter__field {
    margin-right: 0px;
  }
  .member__searchSection--filter .filterContainer .filter__major, .member__searchSection--filter .filterContainer .filter__field, .member__searchSection--filter .filterContainer .filter__grade {
    width: 100%;
    padding-right: 80px;
  }
  .member__searchSection--filter .filterContainer .filter__major--selector__control, .member__searchSection--filter .filterContainer .filter__field--selector__control, .member__searchSection--filter .filterContainer .filter__grade--selector__control {
    min-width: 240px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .member {
    padding: 120px 48px 120px 48px;
  }
}
@media screen and (max-width: 500px) {
  .member {
    padding: 120px 32px 120px 32px;
  }
  .member__items--item {
    margin: 0px 12px 44px 12px;
    max-width: 160px;
  }
  .member__items--item .item__img--img {
    width: 160px;
  }
}
@media screen and (max-width: 414px) {
  .member__items {
    grid-gap: 40px 8px;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .member__items--item {
    margin: 0px 0px 44px 0px;
  }
}

.css-b62m3t-container {
  width: 100%;
}

select-pure {
  flex: 1;
  min-width: 232px;
  --select-height: fit-content;
  --select-width: 100%;
  --border-color: #4c5263;
  --padding: 8px 16px;
  --font-size: 14px;
  --color: #1e1e1e;
  --selected-background-color: #38323c;
  --selected-color: white;
  --hover-background-color: #38323c;
  --hover-color: white;
  --dropdown-items: 5;
}/*# sourceMappingURL=style.css.map */